<div id="announcement" class="announcement">
  <p>Assine e ganhe 20% off na sua primeira compra.</p>
  <p></p>
</div>

<div id="principal" class="margin">
  <div id="menu" class="menu">
    <mat-icon class="icons"> menu </mat-icon>
    <p class="logo">MEMENTO</p>
    <div id="icons-menu-right">
      <span class="material-symbols-outlined"> search </span>
      <span class="material-symbols-outlined"> account_circle </span>
      <span> <ng-content></ng-content></span>
    </div>
  </div>
</div>
