<div id=" hi" class="hi">
  <div class="block-text">
    <h1>
      UMA CENA,<br />
      UMA HISTÓRIA,<br />
      SUAS MEMÓRIAS
    </h1>

    <p class="texto-hi">
      Nossa coleção de itens traz de volta a essência das cenas mais icônicas do
      cinema. Reviva a emoção de momentos que marcaram gerações.
    </p>

    <button type="button" class="black-bt">A SESSÃO VAI COMEÇAR!</button>

    <div id="number-date" class="number-date">
      <div class="block-row">
        <div class="block-date">
          <h5>200+</h5>
          <p class="subtitle">Filmes Nacionais</p>
        </div>

        <div class="block-date">
          <h5>2,000+</h5>
          <p class="subtitle">Filmes Internacionais</p>
        </div>
      </div>

      <div class="block-date">
        <h5>30,000+</h5>
        <p class="subtitle">Clientes satisfeitos</p>
      </div>
      <div>
        <video
          id="main-video"
          autoplay="true"
          loop="true"
          src="assets/videos/TITANIC.mp4"
          muted="true"
          type="video/mp4"
        ></video>
      </div>
    </div>
  </div>
  <div id="footer-produtoras" class="footer">
    <div class="footer-itens-align">
      <img
        src="assets/imgs/logos/universal-pictures.png"
        alt="logo Universal Films"
        width="75px"
      />

      <img
        src="assets/imgs/logos/disney.jpg"
        alt="logo Walt Disney"
        width="75px"
      />

      <img src="assets/imgs/logos/fox.jpg" alt="logo Fox Films" width="50px" />

      <img
        src="assets/imgs/logos/paramount.png"
        alt="logo Paramount Films"
        width="48px"
      />

      <img
        src="assets/imgs/logos/netflix.png"
        alt="logo netflix"
        width="76px"
      />

      <img src="assets/imgs/logos/a24.png" alt="logo a24" width="66px" />

      <img
        src="assets/imgs/logos/imagem filmes.jpg"
        alt="logo imagens films"
        width="45px"
      />

      <img src="assets/imgs/logos/o2.png" alt="logo o2" width="30px" />
    </div>
  </div>
  <h2>NOVOS ITENS</h2>
</div>
